* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
}

::-webkit-scrollbar {
    width:0;
    /*滚动条宽度*/
    height: 0px;
    /*滚动条高度*/
    background-color: #dfe6e9;
    padding-right: 1px;
}

::-webkit-scrollbar-thumb {
    width: 0;
    /* -webkit-box-shadow: inset 0 0 6px rgba(216, 39, 39, 0.3); */
    background-color: teal;
    /*滚动条的背景颜色*/
    border-radius: 2px;
}

#app {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.popup {
    position: absolute;
    padding: 10px;
    box-shadow: inset 0 0 2px #000;
    background-color: aliceblue;
    transform: translate(-50%, -100%);
    border-radius: 5px;
    box-shadow: 0 0 20px #000;
}

.popup::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #fff;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.cesium-viewer-bottom {
    display: none;
}

#menu_switch {
    display: none;
}

.menu {
    box-sizing: border-box;
    position: absolute;
    width: 404px;
    height: auto;
    max-height: 60vh;
    overflow: auto;
    top: 80px;
    left: 30px;
    background-color: #dfe6e9;
    transition: all .3s ease-in-out;
    transform-origin: top left;
    display: flex;
    border-radius: 4px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.menu>button {
    outline: none;
    border: none;
    border-radius: 3px;
    width: 80px;
    height: 40px;
    margin: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    overflow: auto;
}
.menu>button:hover{
    text-shadow: 0 0 5px #000;
    text-decoration: underline;
}
.menu>button:nth-of-type(2n+1) {
    background-color: #0097e6;
}

.menu>button:nth-of-type(2n+2) {
    background-color: #10ac84;
}

.menu>button:nth-of-type(3n+3) {
    background-color: #84817a;
}

.menu_switch {
    display: block;
    width: 50px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 30px;
    background-color: #dfe6e9;
    background-image: url("../assets/menu_off.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    /* transform: translateY(calc(-41vh - 100%)); */
    cursor: pointer;
    border-radius: 4px;
}

#menu_switch:checked~.menu {
    transform: scale(0, 0);
}

#menu_switch:checked~.menu_switch {
    background-image: url("../assets/menu_on.png");
}