* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 18px "微软雅黑";
    font-weight: 600;
}

body, html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

header {
    height: 50px;
    background-color: #353b48;
    display: flex;
    color: #FFF;
    font-size: 28px;
    font-weight: 600;
    justify-content: flex-start;
    align-items: center;
}

.icon {
    background-image: url('../assets/地理.png');
    width: 40px;
    height: 40px;
    background-size: 100%;
}

header>label {
    margin-left: auto;
}

.CesiumContainer {
    height: calc(100vh - 230px);
    position: relative;
}

.menu {
    height: 140px;
    overflow: hidden;
    background: #fff;
    color: #dcdde1;
    box-shadow: 0 0 5px #FFF;
}

.menu_first {
    height: 34px;
    display: flex;
    background-color: #57606f;
}

.menu_first>label {
    padding: 5px 20px;
    transition: .3s ease-in-out all;
}

.menu_first>label:hover {
    background-color: #353b48;
}

.menu_second {
    height: 106px;
    background-color: #747d8c;
    padding: 7px;
    border: 7px solid #57606f;
}

.menu_second>div {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: auto;
    /* padding: 20px 0; */
}
.menu_second>div>div{
    flex-shrink: 0;
    min-width: 60px;
}

.menu_second>div:nth-of-type(n+2) {
    display: none;
}

.menu>input[type="radio"] {
    display: none;
}

footer {
    height: 40px;
    background-color: #353b48;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 600;
    padding: 0 10px;
    box-sizing: content-box;
    border-top: 3px solid #a4b0be;
}

footer>a {
    color: #ced6e0;
    font-weight: 600;
    font-size: 22px;
    margin: 0 10px;
    text-decoration: none;
}
footer>a:hover{
    text-decoration: underline;
}

.checked {
    background-color: #353b48;
    border-bottom: 1px solid #fff;
}

.unchecked {
    background-color: transparent;
}
.cesium-viewer-bottom{
    display: none;
}