* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 18px "微软雅黑";
    font-weight: 600;
}

body, html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0;
    /*滚动条宽度*/
    height: 5px;
    /*滚动条高度*/
    background-color: #747d8c;
    padding-right: 1px;
}

::-webkit-scrollbar-thumb {
    width: 0;
    /* -webkit-box-shadow: inset 0 0 6px rgba(216, 39, 39, 0.3); */
    background-color: teal;
    /*滚动条的背景颜色*/
    border-radius: 2px;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

header {
    height: 50px;
    background-color: #353b48;
    display: flex;
    color: #0fb9b1;
    font-size: 28px;
    font-weight: 600;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 10px;
    position: relative;
    z-index: 5;
    text-shadow: 1px 1px 0px #000, 2px 2px 0px #000, 3px 3px 0px #000, 4px 4px 0px #000,5px 5px 0px #000,6px 6px 0px #000;
    animation: lighting 12s infinite;
    background-image: linear-gradient( 45deg, #747d8c20 0, #747d8c20 25%, transparent 25%, transparent 50%, #747d8c20 50%, #747d8c20 75%, transparent 75%, transparent);
    background-size: 20px 20px;
}

@keyframes lighting {
    0% {
        color: #0fb9b1;
    }
    25% {
    }
    50% {
        color: #2d98da;
    }
    75% {
    }
    100% {
        color: #20bf6b;
    }
}

.icon {
    background-image: url('../assets/地理.png');
    width: 40px;
    height: 40px;
    background-size: 100%;
}

/* header>.decorate_container {
    width: 200px;
    height: 100%;
    margin-left: auto;
    position: relative;
    overflow: hidden;
} */

/* header>.decorate_container>.decorate {
    width: 400px;
    height: 100%;
    position: relative;
    background-image: linear-gradient( 45deg, #747d8c60 0, #747d8c60 25%, transparent 25%, transparent 50%, #747d8c60 50%, #747d8c60 75%, transparent 75%, transparent);
    background-size: 40px 40px;
    background-repeat: repeat;
} */
    /* animation: flowing 20s infinite linear; */

@keyframes flowing {
    0% {
        transform: translateX(0);
        background-color: #2bcbba;
    }
    50% {
        background-color: #2d98da;
    }
    100% {
        transform: translateX(-50%);
        background-color: #2bcbba;
    }
    /* 100%{
        transform: translateX(-100%);
    } */
}

header>.decorate_container::before {
    content: "";
    width: 0;
    height: 0;
    border: 25px solid transparent;
    position: absolute;
    border-left-color: #353b48;
    border-bottom-color: #353b48;
    z-index: 2;
}

.CesiumContainer {
    height: calc(100vh - 250px);
    position: relative;
    z-index: 2;
}

.menu {
    height: 160px;
    overflow: hidden;
    background: #fff;
    color: #dcdde1;
    box-shadow: 0 0 5px #FFF;
    position: relative;
    z-index: 5;
}

.menu_first {
    height: 34px;
    display: flex;
    background-color: #57606f;
}

.menu_first>label {
    padding: 5px 20px;
    border-radius: 6px;
    transition: .3s ease-in-out all;
}

.menu_first>label:hover {
    background-color: #353b48;

}

.menu_second {
    height: 126px;
    background-color: #747d8c;
    padding: 7px;
    border: 7px solid #57606f;
}

.menu_second>div {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: auto;
    /* padding: 20px 0; */
}

.menu_second>div>div {
    position: relative;
    flex-shrink: 0;
    min-width: 60px;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 15px;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
}

.menu_second>div>div::before {
    width: 2px;
    height: 50px;
    content: "";
    position: absolute;
    right: -15px;
    background-color: #57606f60;
    border-radius: 1px;
}

.menu_second>div>div:last-of-type::before {
    width: 0
}

.menu_second>div>div:hover {
    color: #1296db;
}

/* .menu_second>div>div>img{
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
} */

.menu_second>div:nth-of-type(n+2) {
    display: none;
}

.menu>input[type="radio"] {
    display: none;
}

footer {
    height: 40px;
    background-color: #353b48;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 600;
    padding: 0 10px;
    box-sizing: content-box;
    border-top: 3px solid #a4b0be;
    background-image: linear-gradient( -45deg, #747d8c20 0, #747d8c20 25%, transparent 25%, transparent 50%, #747d8c20 50%, #747d8c20 75%, transparent 75%, transparent);
    background-size: 30px 30px;
}

footer>a {
    flex-shrink: 0;
    color: #0fb9b1;
    font-weight: 600;
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
}

footer>a:first-of-type {
    margin-left: auto;
}

footer>a:hover {
    text-decoration: underline;
}

.checked {
    background-color: #227093;
    border-bottom: 1px solid #fff;
}

.unchecked {
    background-color: transparent;
}

.cesium-viewer-bottom {
    display: none;
}

.popup {
    position: absolute;
    padding: 10px;
    box-shadow: inset 0 0 2px #000;
    background-color: aliceblue;
    transform: translate(-50%, -100%);
    border-radius: 5px;
    box-shadow: 0 0 20px #000;
}

.popup::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #fff;
    top: 100%;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    color: rgb(120, 177, 241);
}