@import '../css/icon.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 18px "微软雅黑";
    font-weight: 600;
}

body, html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
::-webkit-scrollbar {
    width:0;
    /*滚动条宽度*/
    height: 5px;
    /*滚动条高度*/
    background-color: #747d8c;
    padding-right: 1px;
}

::-webkit-scrollbar-thumb {
    width: 0;
    /* -webkit-box-shadow: inset 0 0 6px rgba(216, 39, 39, 0.3); */
    background-color: teal;
    /*滚动条的背景颜色*/
    border-radius: 2px;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

header {
    height: 50px;
    background-color: #353b48;
    display: flex;
    color: #FFF;
    font-size: 28px;
    font-weight: 600;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
}

.icon {
    background-image: url('../assets/地理.png');
    width: 40px;
    height: 40px;
    background-size: 100%;
}

header>label {
    margin-left: auto;
}

.CesiumContainer {
    height: calc(100vh - 250px);
    position: relative;
}

.menu {
    height: 160px;
    overflow: hidden;
    background: #fff;
    color: #dcdde1;
    box-shadow: 0 0 5px #FFF;
}

.menu_first {
    height: 34px;
    display: flex;
    background-color: #57606f;
}

.menu_first>label {
    padding: 5px 20px;
    transition: .3s ease-in-out all;
}

.menu_first>label:hover {
    background-color: #353b48;
}

.menu_second {
    height: 126px;
    background-color: #747d8c;
    padding: 7px;
    border: 7px solid #57606f;
}

.menu_second>div {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: auto;
    /* padding: 20px 0; */
}
.menu_second>div>div{
    flex-shrink: 0;
    min-width: 60px;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 15px;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
}
.menu_second>div>div>div{
    width: 30px;
    height: 30px;
    background-size: 100% 100%;

}

.menu_second>div:nth-of-type(n+2) {
    display: none;
}

.menu>input[type="radio"] {
    display: none;
}

footer {
    height: 40px;
    background-color: #353b48;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 600;
    padding: 0 10px;
    box-sizing: content-box;
    border-top: 3px solid #a4b0be;
}

footer>a {
    color: #ced6e0;
    font-weight: 600;
    font-size: 22px;
    margin: 0 10px;
    text-decoration: none;
}
footer>a:hover{
    text-decoration: underline;
}

.checked {
    background-color: #353b48;
    border-bottom: 1px solid #fff;
}

.unchecked {
    background-color: transparent;
}
.cesium-viewer-bottom{
    display: none;
}